[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LKT"]
	path = LKT
	url = https://github.com/optimal-learning-lab/lkt
	shallow = true
	registered = true
